<p class="lead">
  Первый в мире удобный менеджер флеш-карточек. Именно так.
</p>


<div>
  <legend>Карточка для перевода</legend>
  <% if @card %>
  <strong><%= @card.original_text %></strong>

  <%= form_for :review, url: review_path, 
                        html: {class: 'form' } do |f| %>
    <%= f.hidden_field :id, value: @card.id %></div>
    <div>
    <%= f.label :label, "Введите перевод:" %>
    <%= f.text_field :user_translated_text %>
    </div>

    <div><%= f.submit "Проверить", class: "btn btn-primary" %></div>
<% end %>

<div>
<p class="text-error"><%= flash[:alert] %></p>
<p class="text-success"><%= flash[:notice] %></p>
<% end %>

