<h1><%= t("user.registration.title") %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.input :name, label: t("user.registration.name") %>
      <%= f.input :email, label: t("user.registration.email") %>
      <%= f.input :password, label: t("user.registration.password") %>
      <%= f.input :password_confirmation, label: t("user.registration.password_confirmation") %>

      <p><%= f.submit t("user.registration.submit"), class: "btn btn-success" %></p>
    <% end %>
  </div>
</div>
