<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Flashcards', root_path, id: "logo" %>
    </div>
    <ul class="nav pull-right">
      <li><%= link_to 'New Card', new_card_path %></li>
      <li><%= link_to 'New Category', new_category_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
    </ul>
    <ul class="nav pull-left">
    <% if current_user %>
      <li class="disabled"><%= link_to current_user.name || current_user.email %></li>
      <li><%= link_to "Edit Profile", edit_profile_path(current_user) %>
      </li>
      <li><%= link_to "Log Out", log_out_path, method: :delete %></li>
    </ul>
    <% else %>
    <ul class="nav pull-left">
      <p><%= link_to "Sign Up", sign_up_path, class: "btn btn-primary" %>
      <%= link_to "Log in", log_in_path, class: "btn btn-success" %></p>
    <% end %>
    </ul>
</nav>

