<%= simple_form_for card do |f| %>
  <%= f.input :original_text, placeholder: 'Enter original text' %>
  <%= f.input :translated_text, placeholder: 'Enter translated text' %>

  <%= f.input :image, input_html: { multipart: true } %>
  <%= f.association :category, collection: current_user.categories.order(:name), prompt: "Choose existing category" %>
  <%= f.simple_fields_for :category do |category| %>
    <%= category.input :name, label: "Or create new category", required: false %>
    <% end %>

  <p><%= f.submit 'Save', class: "btn btn-success" %></p>
<% end %>

