<%= simple_form_for card do |f| %>
  <%= f.input :original_text, label: t('card.original_text'), placeholder: t('card.form.original_text_placeholder') %>
  <%= f.input :translated_text, label: t('card.translated_text'),
      placeholder: t('card.form.translated_text_placeholder') %>

  <%= f.input :image, label: t('card.image'), input_html: { multipart: true } %>
  <%= f.association :category, label: t('card.form.category'), collection: current_user.categories.order(:name), prompt: t('card.form.prompt') %>
  <%= f.simple_fields_for :category do |category| %>
    <%= category.input :name, label: t('card.form.create_category'), required: false %>
    <% end %>

  <p><%= f.submit t('card.form.submit'), class: "btn btn-success" %></p>
<% end %>

