<h1><%= t('card.edit_title') %></h1>
<%= simple_form_for [@category, @card] do |f| %>
  <%= f.input :original_text, label: t('card.original_text'),
      placeholder: t('card.form.original_text_placeholder') %>
  <%= f.input :translated_text, label: t('card.translated_text'),
      placeholder: t('card.form.translated_text_placeholder')  %>
  <%= f.input :image, label: t('card.image'), input_html: { multipart: true } %>
  <%= f.association :category, label: t('card.form.category'), collection: current_user.categories.order(:name), prompt: "Choose existing category" %>
  <p><%= f.submit t('card.form.submit'), class: "btn btn-success" %></p>
  <% end %>
<h6><%= link_to t('footer'), category_cards_path %></h6>

