<h1>Edit card:</h1>
<%= simple_form_for [@category, @card] do |f| %>
  <%= f.input :original_text, placeholder: 'Enter original text' %>
  <%= f.input :translated_text, placeholder: 'Enter translated text' %>
  <%= f.input :image, input_html: { multipart: true } %>
  <p><%= f.submit 'Save', class: "btn btn-success" %></p>
<% end %>
<h6><%= link_to 'Back', category_cards_path %></h6>

