<table style="width:100%">
  <thead>
    <h1>Все карточки</h1>
  </thead>
  <tbody>
     <% @cards.each do |card|  %>
    <tr><th><td><%= image_tag(card.image_url.to_s) %></th><td>
    </tr>
    <tr><th>Original Text:</th><td><%= card.original_text %></td>
    </tr>
    <tr><th>Translated Text:</th><td><%= card.translated_text %></td>
    </tr>
    <tr> <th>Review Date:</th><td><%= card.review_date.strftime("%d/%m/%Y") %></td>
      <td><%= link_to 'Show', card_path(card) %></td>
      <td><%= link_to 'Edit', edit_card_path(card) %></td>
      <td><%= link_to 'Destroy', card_path(card), method: :delete,
              data: { confirm: 'Are you sure?'} %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<%= render 'shared/footer' %>
