<p>
  <p><%= image_tag(@card.image_url) %></p>
</p>
<p>
  <strong><%= t('card.original_text') %></strong>
  <%= @card.original_text %>
</p>

<p>
  <strong><%= t('card.translated_text') %></strong>
  <%= @card.translated_text %>
</p>

<p>
  <strong><%= t('card.review_date') %></strong>
  <%= @card.review_date.strftime('%m/%d/%Y, %H:%M') %>
</p>

<h6><%= link_to t('footer'), category_cards_path %></h6>