<h1><%= @category.name %></h1>
  <h3>Cards:</h3>
    <% @category.cards.each do |card| %>
      <p><%= image_tag(card.image_url) %></p>
      <p><strong>Original Text: </strong><%= card.original_text %></p>
      <p><strong>Translated Text: </strong><%= card.translated_text %></p>
      <p><strong>Review Date: </strong><%= card.review_date.strftime('%d/%m/%Y') %></p>
      <td><%= link_to 'Edit', edit_card_path(card) %></td>
      <td><%= link_to 'Destroy', card_path(card), method: :delete,
                                  data: { confirm: 'Are you sure?'} %></td>
    <% end %>
<p><%= link_to 'Back', categories_path %></p>