<h1><%= t("user.profile.title") %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for current_user do |f| %>
      <%= render 'shared/current_user_error' %>

      <%= f.input :name, label: t("user.registration.name") %>
      <%= f.input :email, label: t("user.registration.email") %>
      <%= f.input :password, label: t("user.registration.password") %>
      <%= f.input :password_confirmation, label: t("user.registration.password_confirmation") %>
      <%= f.input :locale, label: t('user.registration.language'), collection: I18n.available_locales %>

      <%= f.submit t("user.profile.submit"), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>